header {
  border: 0px solid blue;
  width:1100px;
  height:50px;
  margin: 0 0 50px 120px;
}

.header_left {
  float:left;
}

.header_right {
  height:50px;
  float:right;
}

body {
  background-image: url(../png/background.png);
  width: 100%;
  margin: 0 0 0 0;
  /*
  border-left: 100px solid #151D25;
  border-right: 100px solid #151D25;
  */
}

table.title {
  /* doesn't work in footer used padding instead in line 192
  text-align: center;
  */
  height: 50px;
}

ul.language {
  border: 0px solid red;
  height: 50px;
  margin:0 0 0 0px;
  padding-left: 0px;
}

ul.language li{
  display: inline-table;
  padding: 0px 5px 0 5px;
  margin: 12px 0 0 0;
}

ul.language li a:link {
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'sans-serif','serif';
  text-decoration: none;
  color: #000000;
}

ul.language li a:hover {
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'sans-serif','serif';
  background-color: #9C2E2E;
  color: #FFFFFF;
  text-decoration: none;
}

div.part1 {
  border: 0px solid red;
  width: 1100px;
  height:818px;
  margin: 0 0 0 120px;
}

div.part1_left {
  float: left;
  width: 598px;
  margin: 20px 0 0 0;
}

div.part1_right1 {
  float: left;
  z-index: 1;
  margin: 0 0 0 30px;
}

div.part1_right2 {
  position: absolute;
  top: 645px;
  left: 880px;
  z-index: 2;
}

div.part1_right3 {
  position: absolute;
  top: 705px;
  left: 895px;
  z-index: 3;
}

div.part2_border {
  background-color: #FFFFFF;
  border: 5px solid #7E6C47;
  width: 1095px;
  height: 820px;
  margin: 0 0 0 120px;
}

div.part2 {
  background-color: #FFFFFF;
  background-image: url(../png/decorate2.png);
  background-size: 1087px 812px;
  border:2px solid #7E6C47;
  width:1087px;
  height:812px;
  margin:2px 2px 2px 2px;
}

div.part2_left1 {
  border: 0px solid red;
  width: 565px;
  float: left;
  margin: 50px 30px 0 50px;
}

div.part2_right1 {
  border: 0px solid red;
  float: left;
  margin: 50px 0 0 0;
}

div.part2_left2 {
  border: 0px solid red;
  float: left;
  margin: 40px 40px 40px 50px;
}

div.part2_right2 {
  border: 0px solid red;
  width: 500px;
  float: left;
  margin: 40px 0 0 10px;
}

div.part3 {
  border: 0px solid #000000;
  width: 1100px;
  margin: 50px 0 0 120px;
}

.part3_mid_divider {
  width: 30px;
}

td.title_deco {
  text-align: center;
  background-image: url(../png/decorate1.png);
  background-repeat: no-repeat;
  background-position: center center;
  verticle-align: middle;
}

td.title_deco2 {
  text-align: center;
  width: 535px;
  height: 80px;
  background-image: url(../png/decorate3.png);
  background-size: 535px 42px;
  background-repeat: no-repeat;
  background-position: center center;
}

td.circle_mark {
  text-align: center;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  background-image: url(../png/circle_blue.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px solid blue;
  font-size: 1.7em;
  color: #FFFFFF;
  line-height: 1.1;
  font-family: 'fantasy';
  padding-top: 15px;
}

table.paticipate {
  width:1100px;
  line-height:20px;  
}

td.part3_article {
  width: 400px;
  padding: 0 10px 0 10px;
}

.part3_note {
  vertical-align:top;
  border-top: 1px dotted #000000;
  padding:20px 0 0 0;"
}

td.registerLink {
  height: 50px;
  vertical-align: middle;
  background-image: url(../png/registerBtn.png);
  background-repeat: no-repeat;
  background-size: 220px 35px;
  background-position: 10px center;
  font-size: 1em;
  font-family: 'Impact';
}

td.registerLink a:link {
  font-size: 1em;
  font-family: 'Impact';
  color: #000000;
  text-decoration: none;
  padding: 0 0 0 5px;
}

td.registerLink a:hover {
  font-size: 1.1em;
  font-family: 'Impact';
  color: #9C2E2E;
  text-decoration: none;
}

td.registerLink a:visited {
  font-size: 1em;
  font-family: 'Impact';
  color: #000000;
  text-decoration: none;
}

#splitLine {
  background-color: #ffffff;
  width:100%;

  height:2px;
  margin: 50px 0 0 0;
  padding-left: 0px;
  border-top:1px solid silver;
  border-bottom: 5px solid silver;  
}

div.part4 {
  border:0px solid red;
  width: 100%;
  height:500px;
  background-color: #FAF5F5;
  margin: 0 0 0 0px;
}

div.part4_1 {
  width: 700px;
  float: left;
  margin: 40px 0 0 125px;
}

div.part4_1 a:link{
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid silver;
  margin: 0 0 0 10px;
}

div.part4_1 a:hover{
  font-size: 1.1em;
  color: #000000;
  text-decoration: none;
  border-bottom: 3px double silver;
}

div.part4_2 {
  float: left;
  margin: 40px 0 0 85px;
  border: 1px solid silver;
}

footer {
  height:140px;
  background-image: url(../png/footer.png);
  background-color: #FAF5F5;
  position: relative;
  z-index: 2;
  border:0px solid red;
}

.footer_logo {
  text-align: middle;
  border: 1px solid #000000;
}