/* Font */

.font_title_anno {
  font-size: 1.2em;
  font-family: 'Impact';
}

.font_title_MR {
  font-size: 1.2em;
  font-family: 'arial black';
  color: #9C2E2E;
}

.font_part1_1 {
  font-size: 2.5em;
  line-height: 50px;
  font-family: 'Times New Roman';
}

.font_part1_2 {
  font-size: 3.5em;
  line-height: 1;
  font-family: 'Times New Roman';
  color: #9C2E2E;
}

.font_part1_3 {
  font-size: 2em;
  line-height: 1;
  font-family: 'Times New Roman';
}

.font_part1_article {
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Gulim';
}

.font_part1_4 {
  background-image: url(../png/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px 10px 10px 25px;
  font-size: 0.9em;
  font-family: 'arial black';
  border-left: 1px dotted #000000;
}

.font_part1_4_1 {
  background-image: url(../png/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px 10px 10px 25px;
  font-size: 0.9em;
  font-family: 'arial black';
  border-left: 1px dotted #000000;
  border-right: 1px dotted #000000;
}
.font_part2_article {
  font-size: 1em;
  line-height: 1.3;
  font-family: 'Gulim';
}

.font_part2_1 {
  font-size: 1.3em;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Gulim';
  color: #9C2E2E;
}

.font_part2_2 {
  font-size: 3em;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Times New Roman'; 
}

.font_table_1 {
  text-align: center;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: bold;
  font-family: "Gulim";
  color: #9C2E2E;
}

.font_table_2 {
  font-size: 3em;
  line-height: 1.5em;
  font-family: 'Times New Roman';
}

.font_table_3 {
  font-size: 1em;
  font-family: 'Gulim';
  font-weight: bold;
}

.font_table_article {
  font-size: 0.8em;
  font-family: "Gulim";
  line-height: 1.5;
}

.font_part4_1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Gulim';
  line-height: 1; 
}

.font_part4_article {
  font-size: 0.8em;
  font-family: 'Gulim';
  line-height: 1.6;
}